VITE_PRIVY_APP_ID=
VITE_BASE_SEPOLIA_RPC=https://sepolia.base.org
VITE_VMESH_TOKEN_ADDRESS=
VITE_RELAY_REWARDS_ADDRESS=
VITE_CONSENT_REGISTRY_ADDRESS=
VITE_DEAD_MAN_SWITCH_ADDRESS=
VITE_LIT_NETWORK=datil-test
VITE_W3UP_EMAIL=
VITE_BOOTSTRAP_PEER_1=/dns4/bootstrap.vaultmesh.io/tcp/443/wss/p2p/QmBoot1
VITE_BOOTSTRAP_PEER_2=/dns4/bootstrap2.vaultmesh.io/tcp/443/wss/p2p/QmBoot2
PRIVATE_KEY=
BASESCAN_API_KEY=
